<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JUSP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/style/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="./javascripts/web3.min.js"></script>

</head>

<body>
    <section class="marketing">

        <section class="banner">
            <div class="container">
                <!-- header -->
                <div class="row">
                    <div class="header">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/">
                                <img src="./assets/images/demo-logo.png" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link active" href="/">Home <span
                                            class="sr-only">(current)</span></a>
                                    <a class="nav-item nav-link" href="/exchange">Stake Eth</a>
                                    <a class="nav-item nav-link" onclick="openEtherscan()">View on Etherscan</a>
                                    <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- banner content -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-content">
                            <h2 class="main-title text-center">Stake Your Eth Here.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content-wrapper">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-lg-6 text-section primary-text-section">
                        <div class="text-box">
                            <h2 class="text-title">Your Masternode link:</h2>
                            <p class="content">Note that your masternode does not become active until you have 0
                                Tokens.
                                <b>IMPORTANT:</b> your masternode brings you 0% of total purchase in dividends.
                            </p>
                        </div>
                    </div>
                </div> -->

                <!-- transactions -->
                <div class="row">
                    <div class="curreny-section d-flex">
                        <div class="col-lg-4 col-md-6 card-wrapper">
                            <div class="currency-card ">
                                <p class="title-text">Ethereum In Contract</p>
                                <div class="icon-wrapper d-flex align-content-center  ">
                                    <div class="icon">
                                        <img src="./assets/images/ether_45.png" alt="">
                                    </div>
                                    <div class="icon-text">
                                        <p class="main contract-balance">0.000 ETH</p>
                                        <p class="sub contract-balance-usd">(0 USD)</p>
                                    </div>
                                </div>
                                <!-- token in circulation -->

                                <div class="token-wrapper d-flex align-items-center">
                                    <div class="icon"></div>
                                    <div class="token-text">
                                        <p class="main">Tokens In Circulation</p>
                                        <p class="sub contract-tokens">00,000</p>
                                    </div>
                                </div>



                                <!-- price range -->

                                <div class="price-section row align-items-center">
                                    <div class="col-lg-7 col-md-6">
                                        <div class="buying">
                                            <p class="title">User Token Balance (JUSP)</p>
                                            <!-- <p class="value">0.000395 ETH</p>
                                            <p class="sub">(0 USD)</p> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="selling">
                                            <!-- <p class="title">Buy Price</p> -->
                                            <p class="value user-jusp-balance">0.0000000</p>
                                            <!-- <p class="sub">(0 USD)</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-6 card-wrapper">
                            <div class="currency-card ">
                                <p class="title-text">Stake Eth</p>
                                <div class="data-input">
                                    <input type="text" placeholder="Amount in ETH (Eg. 0.25)" id="inputEth">
                                </div>
                                <div id="deposit-hint" class="text-wrapper"></div>
                                <div class="text-wrapper">
                                    Input the amount of Eth you wish to stake
                                </div>
                                <div class="text-center">
                                    <button type="button" class="payment-btn" onclick="App.stake()">Stake</button>
                                </div>
                                <div class="text-wrapper">
                                    <div class="text-wrapper">
                                        <center>Pay more Gas = Faster Transaction</center>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 card-wrapper">
                            <div class="currency-card ">
                                <p class="title-text">Staked Details</p>
                                <div class="data-input-wrapper">
                                    <div class="data-input">
                                        <label for="display">Eth Staked</label>
                                        <div class="display" id="ethStaked">Amount in ETH (Eg. 0.25)</div>
                                    </div>
                                    <div class="data-input">
                                        <label for="display">Age</label>
                                        <div class="display" id="age">1 Month 5 Days 9 Hours 10 Mins 5 Secs </div>
                                    </div>
                                </div>

                                <div class="text-center ">
                                    <button type="button" class="btn-plain"
                                        onclick="App.withdrawStakeAndRewards()">Withdraw Stake</button>
                                </div>
                                <!-- <div class="text-wrapper">
                                    This will reinvest all your dividends and increase token ownership.
                                </div>
                                <div class="btn-wrapper text-center">
                                    <button type="button" class="payment-btn">RePlay</button>
                                </div>
                                <div class="text-wrapper">
                                    Withdraw all dividends earned. Sweet!
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn-plain">Withdraw</button>
                                </div> -->
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 card-wrapper">
                            <div class="currency-card ">
                                <p class="title-text">Interest Details</p>
                                <div class="data-input-wrapper">
                                    <div class="data-input">
                                        <label for="">Jusp Earned</label>
                                        <div class="display" id="userEarnedJUSP">Amount in JUSP (Eg. 0.25)</div>
                                    </div>
                                    <div class="data-input">
                                        <label for="">Already Consumed</label>
                                        <div class="display" id="userConsumedJUSP">Amount in JUSP (Eg. 0.25)</div>
                                    </div>
                                    <div class="data-input">
                                        <label for="">Availabe for Withdrawal</label>
                                        <div class="display" id="available4WithdrawalJUSP">Amount in JUSP (Eg. 0.25)
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center ">
                                    <button type="button" class="btn-plain" onclick="App.withdrawRewards()">Withdraw
                                        JUSP</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 card-wrapper">
                            <div class="currency-card ">
                                <p class="title-text">JUSP Earning Estimator</p>

                                <div class="text-wrapper" id="estimator-date">
                                    The amount of JUSP you will bw getting after 6 Months for Now
                                </div>
                                <div class="data-input-wrapper">
                                    <div class="data-input">
                                        <label for="">approximately</label>
                                        <div class="display" id="approximated-jusp">Amount in JUSP (Eg. 100)</div>
                                        <!-- <input type="display" placeholder="Amount in ETH (Eg. 0.25)"> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 card-wrapper">
                            <div class="currency-card ">
                                <p class="title-text">Transfer JUSP Tokens</p>
                                <div class="data-input-wrapper">
                                    <div class="data-input">
                                        <label for="">Address to transfer to</label>
                                        <input type="text"
                                            placeholder="To Address (Eg. 0x2CDf3fFFa5D37AFAeF472AD7bD0bCf3FBe1d01AD)"
                                            id="transfer-address">
                                    </div>
                                    <div class="data-input">
                                        <label for="">Tokens to transfer</label>
                                        <input type="text" placeholder=" Amount in JUSP (Eg. 100)" id="transfer-tokens">
                                    </div>
                                </div>
                                <div class="text-wrapper">
                                    Input the amount of address where you want to transfer tokens and the amount of
                                    tokens
                                </div>
                                <div class="text-center ">
                                    <button type="button" class="btn-plain" onclick="App.transferTokens()">
                                        Transfer</button>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>
                <section class="text-section marketing-text-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-box">
                                <h2 class="text-title">What are staking rewards?</h2>
                                <p class="content">Popular coins like Bitcoin are proof of work, meaning they’re
                                    generated by using
                                    machines competing to solve complex
                                    equations to “mine” coins and digital assets. Proof of Stake works differently by
                                    choosing from a
                                    pool of people holding
                                    the Proof of Stake coin. A Proof of Stake “validator node” can be added to the pool
                                    by staking
                                    coins for a certain
                                    period of time, giving Proof of Stake validators a source of income without needing
                                    powerful mining
                                    hardware.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-box">
                                <h2 class="text-title">What is Proof of Stake?</h2>
                                <p class="content">You can earn rewards when you stake cryptocurrencies and fiat for a
                                    period of time
                                    as an
                                    incentive to acquire and hold
                                    onto staking assets. Some staking coins may require a bonding period. To earn
                                    staking rewards,
                                    simply select
                                    the asset
                                    you wish to stake and once it has finished investing, it will be ready to start
                                    staking and earning
                                    rewards / interest at a rate of 30% for 6 Months rewarded as JUSP tokens.</p>
                            </div>
                        </div>
                    </div>
                </section>
        </section>
        </div>
    </section>

    </section>

    <div class="container">
        <div class="footer">
            <span class="copyright">Powered by JUSP. All rights reserved.2020-21</span>
            <div class="social-media">
                <a href="">
                    <img src="./assets/images/facebook.svg" alt="">
                </a>
                <a href="">
                    <img src="./assets/images/instagram.svg" alt="">
                </a>
                <a href="">
                    <img src="./assets/images/twitter.svg" alt="">

                </a>
            </div>
        </div>
    </div>

    <!-- modal content -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="msg">
                    Oops, Something Went Wrong.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script src="./assets/js/index.js"></script>
</body>

</html>