<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JUSP</title>
  <link rel="stylesheet" href="./assets/style/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <script src="./javascripts/web3.min.js"></script>

  <!-- <script src="./assets/js/index.js"></script> -->
</head>

<body>


  <section class="banner">
    <div class="container">

      <!-- header -->

      <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
            <img src="./assets/images/demo-logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/exchange">Stake Eth</a>
              <a class="nav-item nav-link" onclick="openEtherscan()">View on Etherscan</a>
              <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
            </div>
          </div>
        </nav>
      </div>

      <!-- banner content -->

      <div class="row">
        <div class="col-lg-8">
          <div class="banner-content">
            <p class="label-text">Welcome to JUSP </p>
            <h2 class="main-title">Fixed Income Solutions for <br>
              <span>Crypto Asset Investors.</span>
            </h2>
            <p class="content">Stake Ethereum on JUSP platform and earn interest for the period you have staked.
              We offer 30% interest which are rewarded as JUSP token for a period of 6 months.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- process steps indication portion -->

  <div class="container">
    <div class="row">
      <div class="instructions d-flex flex-wrap justify-content-center  align-content-center">
        <div class="steps  col-lg-4 col-md-6">
          <div class="progress-wrapper">
            <div class="percent first">
              <svg>
                <circle cx="25" cy="25" r="25"></circle>
                <circle cx="25" cy="25" r="25"></circle>
              </svg>
              <div class="number">
                <h2>1</h2>
              </div>
            </div>
          </div>
          <p class="title">Get staking assets (Ethereum)</p>
          <span class="sub-text">Buy or fund your Metamsk or any Wallet account with Ether that is eligible for
            staking as of now. New assets will be able to be supported soon on the platform.</span>
        </div>

        <div class="steps  col-lg-4 col-md-6">
          <div class="progress-wrapper">
            <div class="percent second">
              <svg>
                <circle cx="25" cy="25" r="25"></circle>
                <circle cx="25" cy="25" r="25"></circle>
              </svg>
              <div class="number">
                <h2>2</h2>
              </div>
            </div>
          </div>
          <p class="title">Stake your Asset (Eth)</p>
          <span class="sub-text">Invest the Eth you wish to stake by clicking on the Stake button below.</span>
        </div>

        <div class="steps  col-lg-4 col-md-6">
          <div class="progress-wrapper">
            <div class="percent third">
              <svg>
                <circle cx="25" cy="25" r="25"></circle>
                <circle cx="25" cy="25" r="25"></circle>
              </svg>
              <div class="number">
                <h2>3</h2>
              </div>
            </div>
          </div>
          <p class="title">Earn Interest - JUSP Tokens</p>
          <span class="sub-text">You will receive interest / rewards at a rate of 30% for 6 months.</span>
        </div>
      </div>
    </div>


    <!-- currency section -->

    <div class="row">
      <section class="curreny-section d-flex flex-wrap justify-content-center">
        <div class="col-lg-4 col-md-6 card-wrapper">
          <div class="currency-card ">
            <div class="currency-logo">
              <img src="./assets/images/ether_45.png" alt="">
            </div>
            <div class="content-box">
              <div class="currency-name">Ethereum (Eth)</div>
              <div class="rewards">
                <span class="text">6 Month Interest / Rewards</span>
                <span class="value">+30.0 %</span>
              </div>
              <p class="label-text">On-Chain</p>
            </div>
            <button type="button" class="card-btn">
              <a href="/exchange">Stake</a>
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 card-wrapper">
          <div class="currency-card comingsoon">
            <div class="currency-logo">
              <img src="./assets/images/bitcoin.svg" alt="">
            </div>
            <div class="content-box">
              <div class="currency-name">------ (XXX)</div>
              <div class="rewards">
                <span class="text">Yearly rewards</span>
                <span class="value">+30.0 %</span>
              </div>
              <p class="label-text">On-Chain</p>
            </div>
            <span class="info-text">Coming Soon</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 card-wrapper">
          <div class="currency-card comingsoon">
            <div class="currency-logo">
              <img src="./assets/images/bitcoin.svg" alt="">
            </div>
            <div class="content-box">
              <div class="currency-name">------ (XXX)</div>
              <div class="rewards">
                <span class="text">Yearly rewards</span>
                <span class="value">+30.0 %</span>
              </div>
              <p class="label-text">On-Chain</p>
            </div>
            <span class="info-text">Coming Soon</span>
          </div>
        </div>
      </section>
    </div>

    <section class="text-section">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-box">
            <h2 class="text-title">What are staking rewards?</h2>
            <p class="content">Popular coins like Bitcoin are proof of work, meaning they’re generated by using
              machines competing to solve complex
              equations to “mine” coins and digital assets. Proof of Stake works differently by choosing from a
              pool of people holding
              the Proof of Stake coin. A Proof of Stake “validator node” can be added to the pool by staking
              coins for a certain
              period of time, giving Proof of Stake validators a source of income without needing powerful mining
              hardware.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-box">
            <h2 class="text-title">What is Proof of Stake?</h2>
            <p class="content">You can earn rewards when you stake cryptocurrencies and fiat for a period of time
              as an
              incentive to acquire and hold
              onto staking assets. Some staking coins may require a bonding period. To earn staking rewards,
              simply select
              the asset
              you wish to stake and once it has finished investing, it will be ready to start staking and earning
              rewards / interest at a rate of 30% for 6 Months rewarded as JUSP tokens.</p>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="text-box disclimer">
            <h2 class="text-title">How does this Work?</h2>
            <p class="content"> Click on the Stake Button which will take you to the staking page.
              Input the amount of Eth you wish to stake on the platform. The moment you start staking
              the Eth will be calculated as the start time. You will earn interest in JUSP tokens
              for the staking you hold (30% for 6 Month). That is, if you stake 1 Eth on the platform,
              if you wish look at the interest earned at 6 Month, you will be able to see 30 JUSP tokens.
              You are free to withdraw your earnings at any point of time.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="footer">
      <span class="copyright">Powered by JUSP. All rights reserved.2020-21</span>
      <div class="social-media">
        <a href="">
          <img src="./assets/images/facebook.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/instagram.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/twitter.svg" alt="">

        </a>
      </div>
    </div>
  </div>



  <!-- modal content -->
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

  <script src="./assets/js/index.js"></script>

</body>

</html>